html > body{margin: 0; padding: 0;}

html > body > header{margin-left: 0; margin-top: 45px;}
html > body > main{margin: 0; padding: 0;}
html > body > footer{margin-left: 0; margin-bottom: 0;}

html > body > header > .Fixed{left: 0; padding: 5px;}
html > body > header > .Fixed > .Logo{margin: 0; margin-left: 41px; font-size: 100%;}
html > body > header > .Fixed > .Logo > img{height: 32px;}
html > body > header > .Fixed > .Logo > .Caption{margin-top: 3px;}
html > body > header > .Fixed > .Right{margin: 0;}
html > body > header > .Fixed > .Right > .Popper > .Caption{padding: 0;}
html > body > header > .Fixed > .Right > .Popper > .Caption > .Icon{height: 34px;}

html > body > footer > .Fixed{position: relative; margin: -15px; margin-top: 15px; left: 0;}

html > body > .LeftPanel{min-width: 5px; z-index: 2;}
html > body > .LeftPanel > .Marker{left: 10px; top: -12px; font-size: 300%;}
html > body > .LeftPanel > .Content{display: none;}
html > body > .LeftPanel:hover > .Content{display: block;}
html > body > .LeftPanel > .Content > .User > img{height: 34px;}

