h1{font-family: Siyam Rupali, Kalpurush;}
h2{font-family: Siyam Rupali, Kalpurush;}
h3{font-family: Siyam Rupali, Kalpurush;}
button{font-family: Siyam Rupali, Kalpurush;}

.LanguageSpecific{font-family: Siyam Rupali, Kalpurush;}

.Field > .Body > .Caption{font-family: Siyam Rupali, Kalpurush;}
.Datagrid > .Content > .Grid > thead > .Column{font-family: Siyam Rupali, Kalpurush;}